.custom-html-content ul {
  list-style-type: disc;
}
.custom-html-content ol,
.custom-html-content ul {
  margin: unset;
  padding: revert;
}
.custom-html-content ol {
  list-style-type: decimal;
}
.custom-html-content h1 {
  font-size: revert;
}
.custom-html-content h2 {
  font-size: large;
}

/* Thêm gradient và blur cho nội dung thu gọn */
.collapsed-content {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  backdrop-filter: blur(5px);
  overflow: hidden;
  position: relative;
}

.expanded-content {
  background: none;
  backdrop-filter: none;
  overflow: visible;
  position: relative;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.textarea-content {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}
